    <div class="container">
  
  
    <div class="login3">
       <label><b><font size="10">Login</font></b></label>
    </div>
  
  
    <div class = "login1">
    <label><b>Email</b></label>
    </div>
    <div class = "login1">
    <input type="text" placeholder="Enter Username" name="uname" required>
    </div>    
   
    <div class = "login1">
    <label><b>Password</b></label>
    </div>
    <div class = "login1">
    <input type="password" placeholder="Enter Password" name="psw" required>
    </div>
   
    <div class = "login2">
    <button type="submit">Login</button>
    </div>
    
    <div class="container login1" style="background-color:#f1f1f1">
    <span class="psw"><a ><li><%= link_to "Sign up", signup_path %>  </li></a></span>
  </div>
  
    </div>r

  