    <div class = "login1">
    <label><b>Email</b></label>
    </div>
    <div class = "login1">
    <input type="text" placeholder="Enter Email" name="uname" required>
    </div>    
   
    <div class = "login1">
    <label><b>Password</b></label>
    </div>
    <div class = "login1">
    <input type="password" placeholder="password" name="psw" required>
    </div>
    <div class = "login2">
    <button type="submit">submit</button>
    </div>
 